body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

input[type="text"],
input[type="date"]
{
  height: 24px;
  padding: 0 5px;
  border: none;
  box-shadow: inset #cccccc 0 0 0 1px;
  font: inherit;
}

input[type="text"]:focus,
input[type="date"]:focus,
button:focus
{
  outline: none;
  box-shadow: inset #2ab0ff 0 0 0 1px;
}

button {
  border-radius: 0;
  border: none;
  background: #cccccc;
  height: 24px;
  width: 24px;
  padding: 0;
}

div.cut-row {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-table {
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  position: relative;
}

.user-table thead {
  border-bottom: 1px solid #999999;
  background: rgba(0, 0, 0, 0.1);
}

.user-table tbody {
  position: relative;
}

.user-table tbody.busy {
  opacity: 0.3;
  user-select: none;
}

.user-table th {
  text-align: center;
  width: 10%;
  text-transform: uppercase;
  padding: 10px 0 0 0;
}

.user-table td {
  padding: 8px 5px;
  max-width: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-table tr {
  transition: background 250ms;
}

.user-table tbody tr:hover {
  background: rgba(0, 0, 0, 0.1);
}

.filter-column {
  display: flex;
}

.filter-column input {
  flex: 1;
}

.filter-column-date {
  width: 20%;
}

.filter-column-date div {
  display: flex;
}

.filter-column-date input {
  flex: 1;
}

.user-table td.user-list-empty {
  text-align: center;
  padding: 40px;
  text-transform: uppercase;
  font-size: 1.2em;
  opacity: 0.5;
}

.user-pager {
  display: flex;
  margin: 10px 0;
  padding: 0;
  float: right;
}

.user-pager li {
  display: flex;
  width: 32px;
  height: 32px;
  background: #eeeeee;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

.user-pager li:first-child {
  border-radius: 2px 0 0 2px;
}

.user-pager li:last-child {
  border-radius: 0 2px 2px 0;
}

.user-pager li:hover {
  background: #dddddd;
}

.user-pager li.active {
  background: #2ab0ff;
  transform: scale(1.1);
  color: white;
}

.user-pager li.disabled {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.1);
}

.user-pager li a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
